<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
</head>
<body> 
    <div align ="center">
    <h1>Joan Clarke</h1>
    <p>Joan Clarke, matemática y criptoanalista, tuvo un rol central en la hazaña que implicó descifrar el Código Enigma utilizado por los alemanes, durante la Segunda Guerra Mundial. 
    </p>   
<img src="img/clarke.jpg" alt=""height="600" width="400" >
    </div>
    <nav>
        <ul>
            <li><a href="/">Volver al inicio</a></li>
        </ul>
    </nav>
   
</body>
</html>