<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not found</title>
</head>
<body>
     <div align ="center">
    <h1>No pudimos encontrar esta pagina, lo sentimos</h1>
    <img src="img/notFound.png" alt="" height="500" width="500">
    </div>
    <nav>
        <ul>
            <li><a href="/">Volver al inicio</a></li>
        </ul>
    </nav>
    
</body>
</html>