<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing</title>
</head>
<body>
    <div align ="center">
    <h1>Alan Turing</h1>
    <p>Alan Mathison Turing fue un matemático, lógico, informático teórico, criptógrafo, filósofo y biólogo teórico británico.​​​​​Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna.
     </p>
     <img src="img/turing.jpg" alt="" height="650" width="1000">
    </div>
    <nav>
        <ul>
            <li><a href="/">Volver al inicio</a></li>
        </ul>
    </nav>
    
</body>
</html>